.calculator {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#display {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  width: 100%;
  margin: 0 auto;
}

.operator-btn {
  padding: 1rem;
  outline: none;
  border: 0.5px solid hsl(236deg 6.55% 55.1%);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

button:hover {
  background-color: #c1c1c1;
}

input[type='text'] {
  padding: 1rem;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  background-color: hsl(236deg 6.55% 55.1%);
}

input[type='text']::placeholder {
  color: white;
}

.grid-item {
  grid-column: 1/3;
}

.orange-btn {
  background-color: #f2913e;
}

.orange-btn:hover {
  background-color: #e88025;
}

.orange-btn:active {
  background-color: #a14d04;
}




/* body {
  display: grid;
  place-items: center;
  height: 100vh;
}
.calculator {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: none;
}

.display {
  height: 1.5rem;
  margin: 0 auto;
  padding: 1.3rem;
  width: 25%;
  min-width: 26rem;
  font-size: 1.8rem;
  text-align: right;
  color: #333;
  background-color: #d5d5d5;
}

/* .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  width: 100%;
  margin: 0 auto;
} */
/* 
.operator-btn {
  padding: 1rem;
  outline: none;
  border: 0.5px solid hsl(236deg 6.55% 55.1%);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

button:hover {
  background-color: #c1c1c1;
}

input[type='text'] {
  padding: 1rem;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  background-color: hsl(236deg 6.55% 55.1%);
}

input[type='text']::placeholder {
  color: white;
}

.grid-item {
  grid-column: 1/3;
}

.orange-btn {
  background-color: #f2913e;
}

.orange-btn:hover {
  background-color: #e88025;
}

.orange-btn:active {
  background-color: #a14d04;
} */ */
